/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
}

.login-container mat-card {
  width: 400px;
}

.full-width {
  width: 100%;
}
