.contactStyle {
  max-width: 40%;
}

.contactsContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1.5%;
  grid-row-gap: 15%;
}

.contentActions {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.contentActions button {
  margin: 2%;
}

.title {
  text-align: center;
  padding: 1%;
}

.formContainer {
  display: grid;
  justify-content: center;
}
